#skillform div {
    padding-top: 0;
    margin-top: 0;
    display: inline-block; /* make each div an inline block */
    margin-right: 20px; /* add a margin between each div */
    padding-left: 105px;
    padding-bottom: 50px;
    width: 30%; /* adjust the width of each div to make them fit on the same line */
}
#skillform label {
display: block; /* make each label a block element */
margin-bottom: 5px; /* add a margin between the label and the input */
}
#skillform input[type="text"], #skillform input[type="email"], #skillform input[type="search"] {
width: 70%; /* make the input fields take up the full width of the div */
padding: 10px; /* add some padding to the input fields */
border: 1px solid #ccc; /* add a border to the input fields */
border-radius: 5px; /* add some rounded corners to the input fields */
}
#skillform input[type="submit"],#skillform input[type="reset"] {
    width: 10%; 
    padding: 10px;
    margin-top: 10%;
    margin-right: 50px;
    background-color: #1114aa; 
    color: white;
    border-color: #ccc;
    box-shadow: 0px 0px 10px 0px rgba(151, 139, 139, 0.2);
    border-radius: 5px; /* add some rounded corners to the submit button */
    cursor: pointer; /* add a pointer cursor to the submit button */
    float:right;
}
#skillform input[type="reset"] {
    margin-right: 150px;
    background-color: white;
    color: black;
}
#skillTable {
    margin: 0 auto; /* Center the table */
    border-collapse: collapse;
    margin-bottom: 50px;
}
#skillTable th {
    background-color: blue; /* Header background color */
    color: white; /* Header text color */
    padding: 8px;
}
#skillTable td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
#skillTable tr:nth-child(even) {
    background-color: #f2f2f2;
}
#competence,#level{
    width: 70%; /* make the input fields take up the full width of the div */
    padding: 10px; /* add some padding to the input fields */
    border: 1px solid #ccc; /* add a border to the input fields */
    border-radius: 5px;}
